
/* Variables */

/* Colors */
:root {
  --brand-style1-color-1: rgba(137,3,9,1);
  --brand-style1-color-2: rgba(133,133,133,1);
  --brand-style1-color-3: rgba(181,57,50,1);
  --brand-style1-color-4: rgba(145,89,92,1);
  --brand-style1-color-5: rgba(21,23,27,1);

  /* */
  --split-content-text-color: #fff;
  --split-content-text-shadow: 0 0 25px #000;
}